@use "../../styles/colors";

.cameras {
  width: 50%;
}

.cameras-container {
  display: flex;
  padding-right: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y:scroll;
  gap: 5px;
  height: 21.6rem;
}

.cameras-container::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 10px;
}
 
.cameras-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #7341f37c;
}
 
.cameras-container::-webkit-scrollbar-thumb {
  background-color:  colors.$primary_main;
  border-radius: 10px;
}

.camera-video {
  background-color: black;
  cursor: pointer;
  width: 45%;
  height: 7rem;
  border-radius: 1.7rem;
}

.video {
  width: 100%;
  height: 21.6rem;
  background-color: #000;
  border-radius: 1.7rem;
}

.add {
  width: 100%;
  margin-top: 5px;
}